@import "variables";

.header {
  text-align: center;
  margin-top: 100px;
  padding: 0 20px;

  .box {
    border-bottom: 4px solid $gray-light;

    #avatar {
      width: $image-size;
      height: $image-size;
      margin-top: -50px;
      border-radius: 50%;
    }

    .greeting,
    h2 {
      text-transform: uppercase;
    }
  }
}

.section {
  padding: 0 20px;

  .subtitle {
    color: $primary-color;
    text-transform: uppercase;
  }

  .experience {
    display: flex;
    justify-content: space-between;
  }

  ul {
    .education-detail {
      width: 700px;
      background-color: $gray-light;
      padding: 8px;
      margin-bottom: 10px;
    }
  }
}

.section:last-of-type {
  padding-bottom: 20px;
}
